* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    color: #191919;
    background-color: #f0f2f5;
}

/* Top appbar */

nav {
    width: 100%;
    height: 56px;
    background-color: white;
    box-shadow: 2px 2px 5px #e6dcdc;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

nav .leading {
    width: 320px;
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    z-index: 2;
}

nav .leading .logo {
    width: 40px;
    height: 40px;
}

.search-bar {
    width: 240px;
    height: 40px;
    padding: 0px 12px;
    background-color: #f0f2f5;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.search-bar img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.search-bar .input-field {
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: none;
    font-size: .9375rem;
    font-family: inherit;
}

nav .headline {
    width: 100%;
    height: 56px;
    padding: 0 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    z-index: 1;
}

nav .headline .headline-item {
    min-width: 50px;
    max-width: 111.6px;
    width: 100%;
    height: 100%;
    align-content: center;
}

nav .headline .headline-item-selected {
    border-bottom: 3px solid #0866ff;
    border-radius: 1px;
}

nav .headline .headline-item a {
    height: calc(100% - 8px);
    margin: 4px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

nav .headline .headline-item a:hover {
    background-color: #0000000d;
}

nav .headline .headline-item-selected a:hover {
    background-color: transparent;
}

nav .headline .headline-item img {
    width: 24px;
    height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav .trailing {
    height: 56px;
    padding-left: 4px;
    padding-right: 16px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    z-index: 2;
}

nav .trailing .trailing-item {
    width: 40px;
    height: 40px;
    align-content: center;
    background-color: #d8dadf;
    border-radius: 50%;
}

nav .trailing .trailing-item img {
    width: 20px;
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav .trailing .badge {
    position: relative;
}

nav .trailing .badge::after {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    content: '20+';
    min-width: 19px;
    height: 19px;
    padding: 0 5px;
    border-radius: 100px;
    background-color: #e41e3f;
    font-family: inherit;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1;
    color: white;
    position: absolute;
    top: -6px;
    right: -18px;
}

/* Content */

.container {
    width: 100%;
    /* Reduced top app bar height from container height */
    height: calc(100vh - 56px);
    position: fixed;
    /* Top app bar height */
    top: 56px;
    display: flex;
    justify-content: space-between;
}

/* Left sidebar */

.left-sidebar {
    min-width: 280px;
    max-width: 360px;
    flex-basis: 360px;
    flex-shrink: 9999;
    margin-top: 16px;
    overflow-y: auto;
}

/* Left sidebar scrollbar */

.left-sidebar::-webkit-scrollbar {
    width: 8px;
}

.left-sidebar:hover::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 10px;
}

/* Left sidebar item */

.left-sidebar .item {
    height: 52px;
    margin: 0 8px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.left-sidebar .item:hover {
    background-color: #0000000d;
}

.left-sidebar .item .icon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

.left-sidebar .item .profile {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    border-radius: 50%;
}

.left-sidebar .item span {
    line-height: 1.3333;
    font-weight: 600;
    font-size: .9375rem;
    color: #050505;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-sidebar .item .button {
    width: 36px;
    height: 36px;
    background-color: #d8dadf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.left-sidebar .item .button img {
    width: 20px;
    height: 20px;
}

.left-sidebar .divider {
    margin: 0 16px;
    margin-top: 8px;
    border-bottom: 1px solid #ced0d4;
}

.left-sidebar .footer {
    padding: 16px;
}

.left-sidebar .footer a {
    font-family: inherit;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.2308;
    color: #65676B;
}

.left-sidebar .footer a:link {
    text-decoration: none;
}

.left-sidebar .footer p {
    display: inline;
    font-family: inherit;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.2308;
    color: #65676B;
}

/* Content */

.content {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 744px;
    padding: 0 32px;
}

.content .posts {
    min-width: 0;
    max-width: 100%;
    width: 590px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 14px; */
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* Posts scrollbar */

/* Stories */

.stories {
    width: 100%;
    /* Height including the top and bottom padding */
    min-height: 266px;
    padding: 8px 0;
    margin-bottom: 14px;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scrollbar-width: none;
}

.story {
    flex-grow: 1;
    min-width: 140.625px;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.story .story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.story .story-divider {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    top: 0;
    left: 0;
    z-index: 1;
}

.story .story-profile {
    width: 40px;
    height: 40px;
    border: 4px solid #075ce5;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
}

.story p {
    font-family: inherit;
    font-weight: 600;
    font-size: .8125rem;
    line-height: 1.2308;
    color: white;
    margin: 5px 0;
    position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 2;
}

.story-create {
    flex-grow: 1;
    min-width: 140.625px;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.story-create .story-image {
    width: 100%;
    height: 80%;
    object-fit: fill;
    position: absolute;
}

.story-create .story-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: calc(80% - 18px);
    left: calc(50% - 18px);
    border: 4px solid white;
}

.story-create p {
    font-family: inherit;
    font-weight: 600;
    font-size: .8125rem;
    line-height: 1.2308;
    color: #050505;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

/* New post */

.new-post {
    width: 100%;
    border-radius: max(0px, min(8px, calc((100vw - 4px - 100%)* 9999))) / 8px;
    background-color: white;
    padding: 12px 16PX 10px;
    margin-bottom: 16px;
}

.create-post {
    display: flex;
    align-items: center;
    gap: 8px;
}

.create-post img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.create-post input {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-family: inherit;
    font-size: 1.0625rem;
    color: #65676B;
    position: relative;
    border-radius: 20px;
    background-color: #f0f2f5;
    border: none;
    outline: 0;
    cursor: pointer;
}

.create-post input:hover {
    background-color: #e4e6e8;
}

.divider {
    border: none;
    border-top: 0.8px solid #e4e6eb;
    margin-top: 12px;
    margin-bottom: 8px;
}

.create-more {
    display: flex;
    align-items: center;
}

.create-more-item {
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    cursor: pointer;
}

.create-more-item:hover {
    background-color: #0000000d;
}

.create-more-item img {
    width: 24px;
    height: 24px;
}

.create-more-item p {
    font-family: inherit;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.3333;
    color: #65676B;
}

/* Posts */

.post-item {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 16px;
}

.post-header {
    padding: 12px 16px;
    padding-bottom: 0;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-details {
    /* To push the buttons to end, also needs justify-content: space-between; in the parent */
    margin-right: auto;
}

.author-details .headline-content {
    font-family: inherit;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.3333;
    color: #050505;
}

.author-details .supporting-content {
    font-family: inherit;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.2308;
    color: #65676B;
}

.author-details img {
    width: 12px;
    height: 12px;
}

.post-menu {
    display: flex;
    justify-content: end;
}

.post-menu .button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-menu .button:hover {
    background-color: #0000000d;
}

.post-menu .button img {
    width: 20px;
    height: 20px;
}

.post-text {
    padding: 16px;
    padding-top: 0px;
}

.post-text span {
    font-family: inherit;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.3333;
    color: #050505;
}

.post-image img {
    width: 100%;
    object-fit: fill;
}

.post-interactions {
    padding: 10px 16px;
    padding-bottom: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.reaction-count {
    display: flex;
}

.reaction-count img {
    width: 18px;
    height: 18px;
}

.post-interactions span {
    margin-left: 4px;
    font-family: inherit;
    font-size: .9375rem;
    line-height: 1.3333;
    color: #65676B;
}

.post-footer {
    display: flex;
    align-items: center;
    padding: 0 12px;
    padding-bottom: 6px;
}

.post-footer-item {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.post-footer-item:hover {
    background-color: #0000000d;
}

.post-footer-item img {
    width: 20px;
}

.post-footer-item span {
    font-family: inherit;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.3333;
    color: #65676B;
}

/* Right sidebar */

.right-sidebar {
    min-width: 280px;
    max-width: 360px;
    flex-basis: 360px;
    flex-shrink: 9999;
    margin-top: 16px;
    overflow-y: auto;
}

/* Right sidebar scrollbar */

.right-sidebar::-webkit-scrollbar {
    width: 8px;
}

.right-sidebar:hover::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 10px;
}

.right-sidebar .header {
    padding: 0 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.right-sidebar .header span {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.1765;
    color: #65676B;
    /* To push the buttons to end, also needs justify-content: space-between; in the parent */
    margin-right: auto;
}

.right-sidebar .header .button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-sidebar .header .button:hover {
    background-color: #0000000d;
}

.right-sidebar .header .button img {
    width: 16px;
    height: 16px;
}

.list-friends {
    height: 52px;
    padding: 0 8px;
    margin: 0 8px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.list-friends:hover {
    background-color: #0000000d;
}

.list-friends img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 12px;
}

.list-friends .online::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 30px;
    bottom: 8px;
    background-color: #30a24d;
    border-radius: 50%;
    border: 2px solid white;
}

.list-friends p {
    font-family: inherit;
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.3333;
    color: #050505;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-friends .button {
    width: 36px;
    height: 36px;
    background-color: #d8dadf;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.list-friends .button img {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.right-sidebar .divider {
    margin: 0 16px;
    margin-top: 8px;
    border-bottom: 1px solid #ced0d4;
}

.right-sidebar .footer {
    padding-top: 20px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right-sidebar .footer span {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.1765;
    color: #65676B;
    margin-left: 16px;
}